@media (min-width:750px) and (max-width:1024px) {
    .header-mother {
        max-width: 1024px;
        margin: auto;
        width: 96%;
    }

    .header-box {
        max-width: 910px;
        justify-content: space-between;
    }

    .button-box-mother {
        max-width: 202px;
        border-radius: 20px;
    }

    .button-box1 {
        margin: auto;
    }

    .nav {
        display: none;
    }

    .button-box {
        display: none;
    }

    /* ! section-1 */
    .section-1-main-box {
        max-width: 1024px;
        min-height: 908px;
        width: 100%;
        margin: auto;
    }

    .section-1-mother-box {
        max-width: 880px;
        min-height: 708px;
        flex-direction: column;
        width: 98%;
    }

    .section-1-left-box {
        max-width: 680px;
        min-height: 348px;
    }

    .section-1-h3 {
        font-size: 67px;
        line-height: 130%;
        text-align: center;
    }

    .section-1-pharagrap1 {
        line-height: 150%;
        text-align: center;
        margin-top: 20px;
    }

    .section-1-button-box2 {
        display: none;
    }

    .section-1-button-box1 {
        margin: auto;
    }

    .section-1-mobile-image {
        display: none;
    }

    .section-1-right-box {
        max-width: 320px;
        min-height: 320px;
        background-image: url(../image/mobile.section2.1024.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* ! section-2 */
    .section-2-main-box {
        max-width: 1024px;
        width: 98%;
        min-height: 184px;
    }

    .section-2-mother-box {
        max-width: 816px;
        min-height: 104px;
        width: 96%;
    }

    /* ! section-3 */
    .section-3-main-box {
        max-width: 1024px;
        min-height: 1426px;
        margin: auto;
        width: 98%;
    }

    .section-3-mother-box {
        max-width: 1024px;
        min-height: 1226px;
        width: 96%;
    }

    .section-3-learnMore-box {
        max-width: 1024px;
        min-height: 1093px;
        width: 96%;
        margin: auto;
        margin-top: 40px;
        flex-direction: column;
    }

    .section-3-learnMore {
        max-width: 680px;
        min-height: 351px;
    }

    .section-3-learnMore-son-box {
        max-width: 620px;
        min-height: 271px;
        width: 100%;
    }

    .section-1-h3-box {
        font-size: 16px;
    }

    .section-3-pharagrap2 {
        max-width: 620px;
        width: 100%;
    }

    /* ! section-4 */
    .section-4-main-box {
        max-width: 1024px;
        min-height: 494px;
        width: 98%;
    }

    .section-4-mother-box {
        max-width: 680px;
        min-height: 294px;
        width: 100%;
    }

    .section-4-pharagrap1 {
        max-width: 680px;
    }

    .section-4-about-box {
        max-width: 1170px;
        grid-template-columns: repeat(4, 155px);
        grid-template-rows: 143px;
        column-gap: 20px;
        width: 100%;
    }

    .section-4-statistic-box {
        align-items: center;
    }

    .section-4-pharagrap2 {
        max-width: 123px;
        width: 100%;
    }

    .section-4-pharagrap3 {
        max-width: 123px;
        width: 100%;
    }

    /* ! section-5 */
    .section-5-main-box {
        width: 98%;
        max-width: 1024px;
        min-height: 466.67px;
    }

    .section-5-mother-box {
        max-width: 680px;
        min-height: 266.67px;
        width: 100%;
    }

    .section-5-righto-box2 {
        max-width: 320px;
        min-height: 266.67px;
        background-image: url(../image/mobile.section2.1024.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }

    .section-5-right-box {
        max-width: 680px;
        min-height: 266px;
        display: flex;
        flex-direction: column;
    }

    .section-5-image {
        display: none;
    }

    .section-5-h3 {
        font-size: 38px;
        max-width: 340px;
        width: 100%;
        line-height: 130%;
        text-align: top;
    }

    .section-5-pharagrap {
        font-size: 16px;
        margin-top: 20px;
    }

    .section-5-button1 {
        max-width: 221px;
        min-height: 60px;
        width: 100%;
        display: flex;
        align-items: start;
    }

    /* ! section-6 */
    .section-6-main-box {
        max-width: 1024px;
        min-height: 1174.25px;
        width: 98%;
        margin: auto;
        display: grid;
        place-items: center;
    }

    .section-6-mother-box {
        max-width: 680px;
        min-height: 974.25px;
        width: 100%;
    }

    .section-6-son-box {
        max-width: 680px;
        min-height: 805.25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
    }

    .section-6-box {
        max-width: 680px;
        min-height: 271.08px;
        width: 100%;
        row-gap: 20px;
    }

    .section-6-all-box {
        max-width: 620px;
        min-height: 167.08px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        row-gap: 20px;
    }

    .section-6-pharagrap3 {
        width: 100%;
        text-align: start;
    }

    .section-6-star-box {
        display: flex;
        justify-content: start;
    }

    /* ! section-7 */
    .section-7-main-box {
        max-width: 1024px;
        min-height: 1744px;
        width: 98%;
    }

    .section-7-son-box {
        max-width: 680px;
        min-height: 1414px;
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .section-7-box {
        max-width: 680px;
        height: 458px;
        width: 100%;
    }

    .section-7-pharagrap2 {
        max-width: 620px;
        width: 100%;
    }

    .section-7-mony-box {
        max-width: 620px;
        height: 92px;
        width: 100%;
        display: grid;
    }

    .section-7-pharagrap4 {
        margin-top: 1px;
    }

    .section-7-pharagrap41 {
        margin-top: 1px;
    }

    .section-7-pharagrap5 {
        max-width: 620px;
        width: 100%;
    }

    .section-7-ul {
        max-width: 620px;
        width: 100%;
    }

    .section-7-buttpn-box {
        max-width: 620px;
        width: 100%;
    }

    .section-7-button {
        width: 100%;
        max-width: 620px
    }

    /* ! section-8 */
    .section-8-main-box {
        max-width: 1024px;
        min-height: 667px;
        width: 98%;
    }

    .section-8-pharagrap-box {
        max-width: 680px;
        margin: auto;
    }

    .section-8-mother-box {
        max-width: 680px;
        min-height: 354px;
        margin: auto;
        margin-top: 40px;
    }

    .section-8-box {
        max-width: 213.33px;
        min-height: 354px;
        width: 100%;
    }

    .section-8-image {
        display: none;
    }

    .section-8-image-box {
        max-width: 213.33px;
        height: 172px;
        width: 100%;
        background-image: url(../image/sarah1024.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section-8-image-box2 {
        background-image: url(../image/michael1024.svg);
    }

    .section-8-image-box3 {
        background-image: url(../image/lauren1024.svg);
    }

    /* ! section-9 */
    .section-9-main-box {
        max-width: 1024px;
        min-height: 495px;
        width: 98%;
        margin: auto;
    }

    .section-9-mother-box {
        max-width: 680px;
        min-height: 395px;
        width: 100%;
    }

    .section-9-left-box {
        max-width: 360px;
        min-height: 395px;
        width: 100%;
    }

    .section-9-left-son-box {
        max-width: 300px;
        min-height: 315px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .section-9-h2 {
        max-width: 300px;
        width: 100%;
        font-size: 38px;
    }

    .button-91 {
        max-width: 221px;
        width: 100%;   
    }

    .button-9 {
        max-width: 221px;
        width: 100%;     
    }

    .section-9-right-image {
        display: none;
    }

    .section-9-right-box {
        background-image: url(../image/Mockup.2.svg);
        max-width: 320px;
        min-height: 395px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
    }
    /* ! section-10 */
    .section-10-main-box {
        max-width: 1024px;
        min-height: 764px;
        width: 98%;
        display: flex;
        flex-direction: column;
    }
    .section-10-pharagrap-box {
        max-width: 600px;
        min-height: 107px;
        width: 100%;
    }
    .section-10-h3 {
        max-width: 465px;
        width: 100%;
    }
    .section-10-pharagerap1 {
        max-width: 465px;
        width: 100%;
    }
    .section-10-mother-box {
        max-width: 600px;
        min-height: 437px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .section-10-phone-icon {
        max-width: 465px;
        width: 100%;
    }
    .section-10-phone-icon {
        max-width: 465px;
        width: 100%;
    }
    .section-10-connect-with-us-box {
        margin-top: 40px;
    }
    .section-10-h2 {
        max-width: 465px;
        width: 100%;
    }
    .section-10-button-box {
        max-width: 600px;
        width: 100%;
        margin-top: 40px;
    }
    .section-10-form {
        max-width: 600px;
        width: 100%;
    }
    .section-10-input {
        width: 100%;
        max-width: 560px;
    }
    .section-10-input21 {
        max-width: 519px;
        width: 100%;
    }
    .section-10-form1 {
        max-width: 600px;
        width: 100%;
    }
    /* ! footer */
    .footer {
        max-width: 1024px;
        width: 96%;
    }
    .footer-main-box {
        max-width: 684px;
        width: 100%;
    }
}