@media (min-width:750px) and (max-width:1024px) {
    .header-mother {
        max-width: 1024px;
        margin: auto;
        width: 96%;
    }

    .header-box {
        max-width: 910px;
        justify-content: space-between;
    }

    .button-box-mother {
        max-width: 202px;
        border-radius: 20px;
    }

    .button-box1 {
        margin: auto;
    }

    .nav {
        display: none;
    }

    .button-box {
        display: none;
    }

    /* ! section-1 */
    .section-1-main-box {
        max-width: 1024px;
        min-height: 908px;
        width: 100%;
        margin: auto;

    }

    .section-1-mother-box {
        max-width: 880px;
        min-height: 708px;
        flex-direction: column;
        width: 98%;
    }

    .section-1-left-box {
        max-width: 680px;
        min-height: 348px;
    }

    .section-1-h3 {
        font-size: 67px;
        line-height: 130%;
        text-align: center;
    }

    .section-1-pharagrap1 {
        line-height: 150%;
        text-align: center;
        margin-top: 20px;
    }

    .section-1-button-box2 {
        display: none;
    }

    .section-1-button-box1 {
        margin: auto;
    }

    .section-1-mobile-image {
        display: none;
    }

    .section-1-right-box {
        max-width: 320px;
        min-height: 320px;
        background-image: url(../image/mobile.section2.1024.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* ! section-2 */
    .section-2-main-box {
        max-width: 1024px;
        width: 98%;
        min-height: 184px;
    }

    .section-2-mother-box {
        max-width: 816px;
        min-height: 104px;
        width: 96%;
    }

    /* ! section-3 */
    .section-3-main-box {
        max-width: 1024px;
        min-height: 1426px;
        margin: auto;
        width: 98%;
    }

    .section-3-mother-box {
        max-width: 1024px;
        min-height: 1226px;
        width: 96%;
    }

    .section-3-learnMore-box {
        max-width: 1024px;
        min-height: 1093px;
        width: 96%;
        margin: auto;
        margin-top: 40px;
        flex-direction: column;
    }

    .section-3-learnMore {
        max-width: 680px;
        min-height: 351px;
    }

    .section-3-learnMore-son-box {
        max-width: 620px;
        min-height: 271px;
        width: 100%;
    }

    .section-1-h3-box {
        font-size: 16px;
    }

    .section-3-pharagrap2 {
        max-width: 620px;
        width: 100%;
    }

    /* ! section-4 */
    .section-4-main-box {
        max-width: 1024px;
        min-height: 494px;
        width: 98%;
    }

    .section-4-mother-box {
        max-width: 680px;
        min-height: 294px;
        width: 100%;
    }

    .section-4-pharagrap1 {
        max-width: 680px;
    }

    .section-4-about-box {
        max-width: 1170px;
        grid-template-columns: repeat(4, 155px);
        grid-template-rows: 143px;
        column-gap: 20px;
        width: 100%;
    }

    .section-4-statistic-box {
        align-items: center;
    }

    .section-4-pharagrap2 {
        max-width: 123px;
        width: 100%;
    }

    .section-4-pharagrap3 {
        max-width: 123px;
        width: 100%;
    }

    /* ! section-5 */
    .section-5-main-box {
        width: 98%;
        max-width: 1024px;
        min-height: 466.67px;

    }

    .section-5-mother-box {
        max-width: 680px;
        min-height: 266.67px;
        
    }
}