@media (min-width:300px) and (max-width:750px) {
    .header-mother {
        max-width: 750px;
    }

    .header-image-logo-box {
        margin: auto;
    }

    .header-box {
        max-width: 750px;
        width: 90%;
    }

    .button-box-mother {
        display: none;
    }

    /* ! section-1 */
    .section-1-main-box {
        max-width: 750px;
        min-height: 809px;
        width: 96%;
        margin: auto;
    }

    .section-1-mother-box {
        flex-direction: column;
        max-width: 420px;
        min-height: 689px;
    }

    .section-1-h3 {
        font-size: 38px;
        letter-spacing: -2%;
        line-height: 130%;
        text-align: center;
        max-width: 315px;
        margin: auto;
        width: 100%;
    }

    .section-1-pharagrap1 {
        font-size: 16px;
        text-align: center;
        max-width: 315px;
        margin: auto;
        margin-top: 20px;
    }

    .section-1-button-box1 {
        margin: auto;
    }

    .section-1-button-box2 {
        display: none;
    }

    .section-1-mobile-image {
        display: none;
    }

    .section-1-right-box {
        background-image: url(../image/mobile.section2.1024.svg);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 320px;
        min-height: 300px;
        margin-top: 40px;
        width: 100%;
    }

    /* ! section-2 */
    .section-2-main-box {
        max-width: 375px;
        min-height: 178.58;
        width: 96%;
    }

    .section-2-mother-box {
        max-width: 315px;
        min-height: 118.58px;
        margin: auto;
        grid-template-columns: repeat(auto-fit, 70px);
        column-gap: 32.5px;
        row-gap: 44px;
        width: 100%;
    }

    .media-icon {
        object-fit: cover;
        width: 100%;
    }

    /* ! section-3 */
    .section-3-main-box {
        max-width: 750px;
        margin: auto;
        width: 96%;
    }

    .section-3-mother-box {
        max-width: 750px;
        /* min-height: 1611px; */
        width: 96%;
    }

    .section-3-pharagrap1 {
        max-width: 305px;
        min-height: 72px;
        margin: auto;    
        margin-top: 20px;    
    }
    .section-3-learnMore-box {
        max-width: 750px;
        width: 96%;
        margin: auto;
        margin-top: 30px;
        flex-direction: column;
    }
    .section-3-learnMore {
        max-width: 750px;
        min-height: 408px;
        width: 96%;
    }
    .section-3-learnMore-son-box {
        max-width: 255px;
        width: 90%;
    }
    .section-1-h3-box {
        max-width: 255px;
        text-align: center;
        width: 100%;
    }

}