.body {
    background-color: #D8D8D8;
}

.header {
    position: fixed;
    width: 100%;
    background: linear-gradient(45deg, #6f908c, #bfcecc, #6f908c);
    z-index: 1123123123123;
}

.header-mother {
    max-width: 1280px;
    height: 60px;
    margin: auto;
    display: grid;
    place-items: center;
}

.header-box {
    max-width: 1180px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image-logo-box {
    max-width: 179px;
    height: 32px;
    box-shadow: 1px 5px 10px #FF6250;
    border-radius: 20px;
    transition: all;
    transition-duration: 0.4s;
}

.header-image-logo-box:active {
    box-shadow: 1px 5px 10px #04241d;
}

.image-header {
    object-fit: cover;
    width: 100%;
    stroke: #FF6250;
}

.nav {
    margin-right: 50px;
    border-radius: 10px;
    max-width: 80px;
    width: 100%;
}

.ul {
    max-width: 80px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.li {
    font-size: 16px;
    line-height: 24px;
    color: #009379;
    font-family: 'Poppins';
    transition: all;
    transition-duration: 0.4s;
}

.li:hover {
    text-shadow: 1px 5px 10px #FF6250;
}

.button-box-mother {
    max-width: 559px;
    width: 100%;
    display: flex;
    align-items: center;
}

.button-box1 {
    max-width: 202px;
    background-color: #aac5c1;
    color: #009379;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    border: none;
    border-radius: 20px;
    min-height: 50px;
    margin-right: 20px;
    transition: all;
    transition-duration: 0.4s;
    font-family: 'Poppins';
}

.button-box1:hover {
    box-shadow: 1px 5px 10px #FF6250;
    border: 1px solid #FF6250;
}

.button-box {
    background-color: #009379;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    max-width: 221px;
    height: 50px;
    width: 100%;
    font-family: 'Poppins';
    transition: all;
    transition-duration: 0.4s;
}

.button-box:hover {
    box-shadow: 1px 5px 10px #FF6250;
    border: 1px solid #FF6250;
}

.header-icon-image {
    margin-right: 8px;
}

/* ! section-1 */
.section-1 {
    padding-top: 60px;
}

.section-1-main-box {
    max-width: 1280px;
    margin: auto;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-1-mother-box {
    max-width: 1170px;
    min-height: 450px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.section-1-left-box {
    max-width: 648px;
    min-height: 358px;
    width: 100%;
}

.section-1-h3 {
    font-family: 'Poppins';
    line-height: 87.1px;
    font-size: 67px;
    font-weight: 700;
    color: #2D2D2D;
}

.section-1-pharagrap1 {
    font-size: 21px;
    font-weight: 400;
    color: #2D2D2D;
    margin-top: 20px;
    line-height: 31.5px;
    font-family: 'Mulish';
}

.section-1-button {
    display: flex;
    margin-top: 40px;
    column-gap: 18px;
}

.section-1-button-box1 {
    background-color: #009379;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    max-width: 221px;
    height: 50px;
    width: 100%;
    font-family: 'Poppins';
    transition: all;
    transition-duration: 1.5s;
}

.section-1-button-box1:hover {
    background-color: #FF6250;
    border: 1px solid #009379;
}

.section-1-button-box2 {
    max-width: 202px;
    background-color: #aac5c1;
    color: #009379;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    border: none;
    border-radius: 20px;
    min-height: 50px;
    margin-right: 20px;
    transition: all;
    transition-duration: 1.4s;
    font-family: 'Poppins';
}

.section-1-button-box2:hover {
    background-color: #FF6250;
    border: 1px solid #009379;
}

.section-1-header-icon-image {
    margin-right: 8px;
}

/* ! section-1-right-box */
.section-1-right-box {
    max-width: 450px;
    min-height: 450px;
    width: 100%;
    box-shadow: 3px 3px 20px #009379;
    border-radius: 20px;
}

.section-1-mobile-image {
    object-fit: cover;
    width: 100%;
}

/* ! section-2 */
.section-2-main-box {
    margin: auto;
    max-width: 1280px;
    min-height: 270.32px;
    width: 100%;
    display: grid;
}

.section-2-mother-box {
    max-width: 1170px;
    min-height: 150.32px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 70px);
    grid-template-rows: 27px;
    justify-content: space-between;
    align-content: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: #80ffe8;
    border-radius: 6px;
}

.media-icon {
    object-fit: cover;
    width: 100%;
    transition: all;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all;
    transition-duration: 0.4s;
    max-width: 70px;
}

.media-icon:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px #FF6250;
}

/* ! section-3 */
.section-3-main-box {
    max-width: 1280px;
    min-height: 777px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-mother-box {
    max-width: 1170px;
    min-height: 537px;
    width: 100%;
}

.section-3-h3 {
    color: #000000;
    font-size: 38px;
    line-height: 130%;
    margin: auto;
    text-align: center;
    max-width: 167px;
    min-height: 49px;
    font-family: 'Poppins';
}

.section-3-pharagrap1 {
    font-size: 16px;
    color: #2D2D2D;
    line-height: 150%;
    text-align: center;
    margin-top: 20px;
    font-family: 'Mulish';
}

.section-3-learnMore-box {
    max-width: 1170px;
    min-height: 384px;
    width: 100%;
    margin-top: 60px;
    display: flex;
}

.section-3-learnMore {
    max-width: 370px;
    min-height: 384px;
    width: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    background-color: #FFFFFF;
    column-gap: 30px;
    border-radius: 6px;
}

.section-3-learnMore-son-box {
    max-width: 310px;
    min-height: 304px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-icon-box {
    max-width: 82px;
    min-height: 82px;
    background-color: #ffa399;
    display: grid;
    place-items: center;
    border-radius: 20px;
    margin: auto;
    width: 100%;
    box-shadow: 5px 5px 30px #d68b83;
}

.section-3-icon2 {
    background-color: #73e7d2;
    box-shadow: 5px 5px 30px #6bd1be;
}

.section-3-icon3 {
    background-color: #e7e1d0;
    box-shadow: 5px 5px 30px #c2b9a0;
}

.setion-3-icon-box-son {
    object-fit: cover;
}

.section-1-h3-box {
    max-width: 310px;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
    color: #2D2D2D;
    font-family: 'Poppins';
    margin-top: 30px;
    width: 100%;
}

.section-3-pharagrap2 {
    font-size: 16px;
    line-height: 150%;
    max-width: 310px;
    text-align: center;
    font-family: 'Mulish';
    margin-top: 24px;
    color: #2D2D2D;
    width: 100%;
}

.section-3-button {
    max-width: 118px;
    min-height: 30px;
    color: #009379;
    width: 100%;
    border-radius: 6px;
    border: none;
    transition: all;
    transition-duration: 0.4s;
    margin-top: 30px;
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.icon-section-3 {
    display: grid;
    place-items: center;
}

.section-3-button:hover {
    color: #702f28;
    box-shadow: 5px 5px 30px #c9746b;
    border: 1px solid #c9746b;
}

.section-3-button2:hover {
    color: #125246;
    box-shadow: 5px 5px 30px #009379;
    border: 1px solid #009379;
}

.section-3-button3:hover {
    color: #47370a;
    box-shadow: 5px 5px 30px #9b781a;
    border: 1px solid #702f28;
}

.arrow1 {
    transition: all;
    transition-duration: 0.4s;
}

.section-3-button:hover .arrow1 {
    stroke: #702f28;
    stroke-width: 4;
}

.section-3-button2:hover .arrow2 {
    stroke: #125246;
    stroke-width: 4;
}

.arrow2 {
    transition: all;
    transition-duration: 0.4s;
}

.arrow3 {
    transition: all;
    transition-duration: 0.4s;
}

.section-3-button3:hover .arrow3 {
    stroke: #9b781a;
    stroke-width: 4;
}

/* ! section-4 */
.section-4-main-box {
    max-width: 1280px;
    min-height: 561px;
    width: 100%;
    margin: auto;
    display: grid;
    place-items: center;
}

.section-4-mother-box {
    max-width: 1170px;
    width: 100%;
    min-height: 321px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-4-h3 {
    font-size: 38px;
    line-height: 130%;
    color: #000000;
    text-align: center;
    max-width: 467px;
    width: 100%;
    font-family: 'Poppins';
}

.section-4-pharagrap1 {
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    margin-top: 20px;
    color: #2D2D2D;
    font-family: 'Mulish';
    width: 100%;
}

.section-4-about-box {
    max-width: 1170px;
    display: flex;
    column-gap: 30px;
    width: 100%;
    margin-top: 60px;
}

.section-4-son-box {
    width: 100%;
    max-width: 270px;
    min-height: 171px;
    row-gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all;
    transition-duration: 0.3s;
    background-color: #FFFFFF;
}

.section-4-son-box:hover {
    border-bottom: 5px solid #FF6250;
}

.section-4-pharagrap2 {
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    color: #2D2D2D;
    max-width: 238px;
    align-content: center;
    width: 100%;
    display: grid;
    place-items: center;
    font-family: 'Mulish';
}

.section-4-pharagrap3 {
    font-size: 16px;
    color: #2D2D2D;
    letter-spacing: 130%;
    max-width: 238px;
    min-height: 21px;
    text-align: center;
    width: 100%;
    font-family: 'Mulish';
}

/*! section-5 */
.section-5-main-box {
    max-width: 1280px;
    min-height: 690px;
    margin: auto;
    width: 100%;
    display: grid;
    place-items: center;
}

.section-5-mother-box {
    max-width: 1170px;
    min-height: 450px;
    width: 100%;
    display: flex;
    column-gap: 60px;
    align-items: center;
}

.section-5-left-box {
    max-width: 540px;
    min-height: 450px;
    width: 100%;
    box-shadow: 3px 3px 20px #009379;
    border-radius: 20px;
}

.section-5-imag {
    object-fit: cover;
    width: 100%;
}

.section-5-right-box {
    max-width: 570px;
    min-height: 290px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrow4 {
    stroke: #e8f0ee;
    transition: all;
    transition-duration: 0.4s;
}

.section-5-button:hover .arrow4 {
    stroke-width: 4px;
    stroke: #009379;

}

.section-5-button {
    column-gap: 8px;
    border: 2px solid #009379;
}

.section-5-button:hover {
    box-shadow: 3px 5px 20px #009379;
}

.section-5-h3 {
    font-family: 'Poppins';
    font-size: 50px;
    line-height: 130%;
    width: 100%;
    max-width: 570px;
    text-align: left;
    color: #2D2D2D;
}

.section-5-pharagrap {
    font-family: 'Mulish';
    font-size: 21px;
    line-height: 150%;
    color: #2D2D2D;
}

/* ! section-6 */
.section-6-main-box {
    max-width: 1280px;
    min-height: 824.08px;
    width: 100%;
    margin: auto;
    display: grid;
    place-items: center;
}

.section-6-mother-box {
    max-width: 1170px;
    min-height: 584.05px;
    width: 100%;
}

.section-6-h3 {
    font-size: 38px;
    line-height: 130%;
    letter-spacing: -2%;
    max-width: 1170px;
    width: 100%;
    text-align: center;
    font-family: 'Poppins';
    color: #000000;
}

.section-6-pharagrap1 {
    font-size: 16px;
    font-weight: 130%;
    color: #2D2D2D;
    max-width: 1170px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.section-6-son-box {
    max-width: 1170px;
    min-height: 434.08px;
    margin-top: 60px;
    width: 100%;
    display: flex;
    column-gap: 30px;
}

.section-6-box {
    background-color: #FFFFFF;
    width: 100%;
    max-width: 370px;
    min-height: 434.08px;
    display: grid;
    place-items: center;
    border-radius: 20px;
}

.section-6-all-box {
    max-width: 310px;
    min-height: 354.08px;
    width: 100%;
}

.section-6-image-box1 {
    max-width: 310px;
    min-height: 127px;
    width: 100%;
    margin: auto;
}

.section-6-image-box {
    max-width: 56px;
    min-height: 56px;
    width: 100%;
    border-radius: 50px;
    margin: auto;
}

.section-6-image {
    object-fit: cover;
    width: 100%;
}

.section-6-h2 {
    color: #111827;
    font-size: 21px;
    line-height: 130%;
    font-family: 'Poppins';
    text-align: center;
    margin-top: 16px;
    font-weight: 500;
}

.section-6-pharagrap2 {
    color: #374151;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    margin-top: 6px;
    font-family: 'Mulish';
    font-weight: 500;
}

.section-6-pharagrap3 {
    color: #2D2D2D;
    font-size: 16px;
    text-align: center;
    line-height: 150%;
    font-weight: 500;
    font-family: 'Mulish';
    max-width: 310px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
}

.section-6-star-box {
    max-width: 310px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin-top: 30px;
}

.section-6-star-box2 {
    margin-top: 54px;
}

/* !section-7 */
.section-7-main-box {
    max-width: 1280px;
    min-height: 814px;
    width: 100%;
    margin: auto;
}

.section-7-h2 {
    color: #000000;
    font-weight: 500;
    line-height: 130%;
    font-size: 38px;
    text-align: center;
    font-family: 'Poppins';
    padding-top: 120px;
    width: 100%;
}

.section-7-pharagrap1 {
    color: #2D2D2D;
    font-size: 16px;
    line-height: 130%;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    font-family: 'Mulish';
}

.section-7-son-box {
    max-width: 1170px;
    min-height: 424px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    column-gap: 30px;
    width: 100%;
}

.section-7-box {
    max-width: 370px;
    min-height: 424px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 100%;
    transition: all;
    transition-duration: 0.6s;
}

.section-7-box:hover {
    background-color: #009379;
    color: #FFFFFF;
}

.section-7-box:hover .section-7-svg {
    color: #FFFFFF;
    stroke: #FFFFFF;
}

.section-7-box:hover .section-7-pharagrap2 {
    color: #FFFFFF;
}

.section-7-box:hover .section-7-pharagrap3 {
    color: #FFFFFF;
}

.section-7-box:hover .section-7-pharagrap4 {
    color: #FFFFFF;
}

.section-7-box:hover .section-7-pharagrap41 {
    color: #FFFFFF;
}

.section-7-box:hover .section-7-pharagrap5 {
    color: #FFFFFF;
}

.section-7-pharagrap2 {
    color: #2D2D2D;
    font-size: 21px;
    font-weight: 500;
    line-height: 150%;
    max-width: 310px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    font-family: 'Mulish';
    transition: all;
    transition-duration: 0.6s;
}

.section-7-mony-box {
    max-width: 310px;
    width: 100%;
    margin: auto;
    margin-top: 6px;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
}

.section-7-pharagrap3 {
    font-size: 50px;
    line-height: 130%;
    color: #2D2D2D;
    letter-spacing: -2%;
    font-weight: 500;
    width: 100%;
    width: 65px;
    text-align: center;
    font-family: 'Mulish';
    transition: all;
    transition-duration: 0.6s;
}

.section-7-pharagrap32 {
    max-width: 81px;
    width: 100%;
    color: #2D2D2D;
    font-family: 'Mulish';
    transition: all;
    transition-duration: 0.6s;
}

.section-7-pharagrap41 {
    max-width: 217px;
    width: 100%;
    color: #3B3B3B;
    line-height: 160%;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    width: 100%;
    height: 26px;
    margin-top: 31px;
    font-family: 'Mulish';
    transition: all;
    transition-duration: 0.6s;
}

.section-7-pharagrap4 {
    color: #3B3B3B;
    line-height: 160%;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    max-width: 233px;
    width: 100%;
    height: 26px;
    margin-top: 31px;
    font-family: 'Mulish';
    transition: all;
    transition-duration: 0.6s;
}

.section-7-pharagrap5 {
    color: #2D2D2D;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    max-width: 310px;
    text-align: start;
    margin: auto;
    margin-top: 6px;
    width: 100%;
    font-family: 'Mulish';
    transition: all;
    transition-duration: 0.6s;
}

.section-7-ul {
    max-width: 310px;
    margin: auto;
    min-height: 95px;
    width: 100%;
    margin-top: 24px;
    row-gap: 16px;
    display: grid;
}

.section-7-li {
    max-width: 310px;
    height: 21px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-family: 'Mulish';
}

.section-7-svg {
    max-width: 20px;
    min-height: 20px;
    transition: all;
    transition-duration: 0.6s;
}

.section-7-buttpn-box {
    margin: auto;
    max-width: 310px;
    min-height: 60px;
    margin-top: 40px;
    border-radius: 20px;
}

.section-7-button {
    background-color: #d1e7e4;
    max-width: 310px;
    min-height: 60px;
    width: 100%;
    border-radius: 20px;
    border: none;
    transition: all;
    transition-duration: 0.4s;
    color: #009379;
    font-family: 'Poppins';
    /* border: 2px solid  #FF6250; */
}

.section-7-button:hover {
    box-shadow: 13px 15px 30px #6b160c;
    background-color: #ffa399;
    color: #FFFFFF;
    border: 2px solid #009379;
}

/* ! section-8 */
.section-8-main-box {
    max-width: 1280px;
    min-height: 852px;
    width: 100%;
    margin: auto;
}

.section-8-pharagrap-box {
    max-width: 1170px;
    min-height: 93px;
    width: 100%;
    margin: auto;
}

.section-8-h2 {
    color: #000000;
    font-size: 38px;
    line-height: 130%;
    font-weight: 500;
    text-align: center;
    letter-spacing: -2%;
    font-family: 'Poppins';
}

.section-8-pharagrap1 {
    color: #2D2D2D;
    font-size: 16px;
    text-align: center;
    line-height: 150%;
    font-weight: 500;
    font-family: 'Mulish';
    margin-top: 20px;
}

.section-8-mother-box {
    max-width: 1170px;
    min-height: 459px;
    margin: auto;
    width: 100%;
    margin-top: 60px;
    display: flex;
    column-gap: 30px;
}

.section-8-box {
    max-width: 370px;
    min-height: 459px;
    width: 100%;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.section-8-image-box {
    max-width: 370px;
    height: 278px;
    width: 100%;
}

.section-8-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-8-h3 {
    color: #111827;
    font-size: 21px;
    line-height: 130%;
    font-weight: 500;
    text-align: center;
    max-width: 310px;
    margin: auto;
    margin-top: 20px;
    font-family: 'Poppins';
}

.section-8-pharagrap2 {
    color: #2D2D2D;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    max-width: 310px;
    margin: auto;
    margin-top: 6px;
}

.section-8-social-icon-box {
    max-width: 128px;
    width: 100%;
    display: flex;
    column-gap: 16px;
    margin: auto;
    margin-top: 20px;
}

.section-8-icon {
    max-width: 32px;
    min-height: 32px;
    width: 100%;
    border-radius: 100px;
    background-color: #d1e7e4;
    display: grid;
    place-items: center;
    transition: all;
    transition-duration: 0.4s;
}

.section-8-icon:hover {
    box-shadow: 3px 3px 10px#FF6250;
    transform: scale(1.1);
}

.section-8-icon1 {
    max-width: 17px;
    min-height: 17px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all;
    transition-duration: 0.4s;
}

/* ! section-9 */
.section-9-main-box {
    max-width: 1280px;
    min-height: 554px;
    width: 100%;
    margin: auto;
    display: grid;
    place-items: center;
}

.section-9-mother-box {
    max-width: 1170px;
    min-height: 434px;
    width: 100%;
    border-radius: 20px;
    background-color: #F2BFAF;
    display: flex;
    border-radius: 20px;
}

.section-9-left-box {
    max-width: 586px;
    min-height: 434px;
    width: 100%;
    display: grid;
    place-items: center;
    border-radius: 20px;
}

.section-9-left-son-box {
    max-width: 466px;
    min-height: 314px;
    width: 100%;
}

.section-9-h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: -2%;
    text-align: start;
    font-family: 'Poppins';
    color: #2D2D2D;
    max-width: 466px;
    width: 100%;
}

.section-9-pharagrap1 {
    max-width: 466px;
    width: 100%;
    color: #2D2D2D;
    font-family: 'Mulish';
    font-weight: 500;
    line-height: 150%;
    font-size: 16px;
    text-align: start;
    margin-top: 20px;
}

.section-91 {
    margin-top: 40px;
}

.section-9-right-box {
    max-width: 584px;
    min-height: 434px;
    width: 100%;
}

.section-9-right-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ! section-10 */
.section-10-main-box {
    max-width: 1280px;
    min-height: 593px;
    width: 100%;
    margin: auto;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-10-pharagrap-box {
    max-width: 1050px;
    min-height: 83px;
    width: 100%;
}

.section-10-h3 {
    color: #2D2D2D;
    font-size: 38px;
    line-height: 130%;
    letter-spacing: -2%;
    font-weight: 500;
    text-align: start;
    width: 100%;
    font-family: 'Poppins';
}

.section-10-pharagerap1 {
    color: #2D2D2D;
    font-size: 16px;
    line-height: 150%;
    text-align: start;
    font-weight: 500;
    font-family: 'Mulish';
    margin-top: 10px;
}

.section-10-mother-box {
    max-width: 1050px;
    min-height: 210px;
    width: 100%;
    row-gap: 20px;
    display: flex;
    margin-top: 60px;
}

.section-10-phone-icon {
    max-width: 465px;
    min-height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: #2D2D2D;
    font-size: 16px;
    line-height: 150%;
}

.section-10-phone-icon2 {
    margin-top: 16px;
}

.section-10-connect-with-us-box {
    max-width: 465px;
    height: 79px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 63px;
}

.section-10-h2 {
    color: #2D2D2D;
    font-size: 21px;
    line-height: 130%;
    text-align: start;
}

.section-10-soc-icon1 {
    max-width: 17.07px;
    min-height: 17.07px;
    width: 100%;
    height: 100%;
}

.section-10-social-media-icon {
    max-width: 176px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.section-10-soc-icon {
    max-width: 32px;
    min-height: 32px;
    width: 100%;
    border-radius: 100px;
    background-color: #d1e7e4;
    display: grid;
    place-items: center;
    transition: all;
    transition-duration: 0.4s;
    border: 2px solid #FF6250;
}

.section-10-soc-icon:hover {
    box-shadow: 3px 3px 10px#FF6250;
    transform: scale(1.1);
}

.section-10-bottom-main-box {
    max-width: 1050px;
    min-height: 79px;
    width: 100%;
}

.section-10-button-box {
    max-width: 465px;
    min-height: 79px;
    width: 100%;
}

.section-10-input {
    max-width: 425px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    column-gap: 12px;
}

.section-10-input21 {
    width: 100%;
    max-width: 384px;
    height: 24px;
    border: none;
    outline: none;
    border-radius: 4px;
}

.section-10-icon-personaliti1 {
    max-width: 24px;
    height: 24px;
    margin-left: 6px;
}

.section-10-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 465px;
    height: 60px;
    column-gap: 12px;
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid #FF6250;
}

.oianam {
    color: #009379;
    padding-top: 2px;
}

.section-10-form1 {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 465px;
    height: 60px;
    column-gap: 12px;
    border-radius: 20px;
    margin-top: 10px;
    border: 1px solid #FF6250;
}

.section-10-submit {
    max-width: 159px;
    height: 60px;
    width: 100%;
    background-color: #009379;
    color: #FFFFFF;
    border-radius: 20px;
    font-size: 16px;
    line-height: 24%;
    text-align: center;
    font-weight: 500;
    font-family: 'Poppins';
    margin-top: 20px;
    transition: all;
    transition-duration: 0.5s;
    border: 2px solid #FF6250;
}

.section-10-submit:hover {
    box-shadow: 10px 10px 30px #009379;
    background-color: #FF6250;
    color: #009379;
    border: 2px solid #009379;
}

/* ! footer */
.footer {
    max-width: 1280px;
    min-height: 80px;
    background-color: #2D2D2D;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-main-box {
    max-width: 1160px;
    min-height: 32px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-pharagrap {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Mulish';
    width: 100%;
    max-width: 239px;
}

.footer-soc-icon {
    max-width: 176px;
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
.footer-soc-box {
    max-width: 32px;
    height: 32px;
    border-radius: 100px;
    background-color: #4E4D4D;
    display: grid;
    place-items: center;
    width: 100%;
    transition: all;
    transition-duration: 0.5s;
    
}
.footer-soc-box:hover {
    box-shadow: 1px 1px 10px #009379;
    border: 2px solid #009379;
}
.footer-icon {
    width: 100%;
    height: 100%;
    width: 17.07px;
    height: 17.27px;
    stroke: #FFFFFF;
}