.body {
    height: 10000px;
}

.header {
    position: fixed;
    width: 100%;
    background: linear-gradient(45deg, #6f908c, #bfcecc, #6f908c);
    z-index: 1123123123123;
}

.header-mother {
    max-width: 1280px;
    height: 60px;
    margin: auto;
    display: grid;
    place-items: center;
}

.header-box {
    max-width: 1180px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-image-logo-box {
    max-width: 179px;
    height: 32px;
    box-shadow: 1px 5px 10px #FF6250;
    border-radius: 20px;
    transition: all;
    transition-duration: 0.4s;
}

.header-image-logo-box:active {
    box-shadow: 1px 5px 10px #04241d;
}

.image-header {
    object-fit: cover;
    width: 100%;
}

.nav {
    margin-right: 50px;
    border-radius: 10px;
    max-width: 80px;
    width: 100%;
}

.ul {
    max-width: 80px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.li {
    font-size: 16px;
    line-height: 24px;
    color: #009379;
    font-family: 'Poppins';
    transition: all;
    transition-duration: 0.4s;
}

.li:hover {
    text-shadow: 1px 5px 10px #FF6250;
}

.button-box-mother {
    max-width: 559px;
    width: 100%;
    display: flex;
    align-items: center;
}

.button-box1 {
    max-width: 202px;
    background-color: #aac5c1;
    color: #009379;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    border: none;
    border-radius: 20px;
    min-height: 50px;
    margin-right: 20px;
    transition: all;
    transition-duration: 0.4s;
    font-family: 'Poppins';
}

.button-box1:hover {
    box-shadow: 1px 5px 10px #FF6250;
}

.button-box {
    background-color: #009379;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    max-width: 221px;
    height: 50px;
    width: 100%;
    font-family: 'Poppins';
    transition: all;
    transition-duration: 0.4s;
}

.button-box:hover {
    box-shadow: 1px 5px 10px #FF6250;
}

.header-icon-image {
    margin-right: 8px;
}

/* ! section-1 */
.section-1 {
    padding-top: 60px;
}

.section-1-main-box {
    max-width: 1280px;
    margin: auto;
    height: 690px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-1-mother-box {
    max-width: 1170px;
    min-height: 450px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

.section-1-left-box {
    max-width: 648px;
    min-height: 358px;
    width: 100%;
}

.section-1-h3 {
    font-family: 'Poppins';
    line-height: 87.1px;
    letter-spacing: -2.5%;
    font-size: 67px;
    font-weight: 700px;
    color: #2D2D2D;
}

.section-1-pharagrap1 {
    font-size: 21px;
    font-weight: 400;
    color: #2D2D2D;
    margin-top: 20px;
    line-height: 31.5px;
    font-family: 'Mulish';
}

.section-1-button {
    display: flex;
    margin-top: 40px;
    column-gap: 18px;
}

.section-1-button-box1 {
    background-color: #009379;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    max-width: 221px;
    height: 50px;
    width: 100%;
    font-family: 'Poppins';
    transition: all;
    transition-duration: 1.5s;
}

.section-1-button-box1:hover {
    background-color: #FF6250;
}

.section-1-button-box2 {
    max-width: 202px;
    background-color: #aac5c1;
    color: #009379;
    font-size: 16px;
    line-height: 26px;
    width: 100%;
    border: none;
    border-radius: 20px;
    min-height: 50px;
    margin-right: 20px;
    transition: all;
    transition-duration: 1.4s;
    font-family: 'Poppins';
}

.section-1-button-box2:hover {
    background-color: #FF6250;
}

.section-1-header-icon-image {
    margin-right: 8px;
}

/* ! section-1-right-box */
.section-1-right-box {
    max-width: 450px;
    min-height: 450px;
    width: 100%;
    box-shadow: 3px 3px 20px #009379;
    border-radius: 20px;
}

.section-1-mobile-image {
    object-fit: cover;
    width: 100%;
}

/* ! section-2 */
.section-2-main-box {
    margin: auto;
    max-width: 1280px;
    min-height: 270.32px;
    width: 100%;
    display: grid;

}

.section-2-mother-box {
    max-width: 1170px;
    min-height: 150.32px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 70px);
    grid-template-rows: 27px;
    justify-content: space-between;
    align-content: center;
    border-width: 1px 0;
    border-style: solid;
    border-color: #80ffe8;
    border-radius: 6px;
}

.media-icon {
    object-fit: cover;
    width: 100%;
    transition: all;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: all;
    transition-duration: 0.4s;
    max-width: 70px;

}

.media-icon:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px #FF6250;
}

/* ! section-3 */
.section-3-main-box {
    max-width: 1280px;
    min-height: 777px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-mother-box {
    max-width: 1170px;
    min-height: 537px;
    width: 100%;
}

.section-3-h3 {
    color: #000000;
    font-size: 38px;
    letter-spacing: -2%;
    line-height: 130%;
    margin: auto;
    text-align: center;
    max-width: 167px;
    min-height: 49px;
    font-family: 'Poppins';

}

.section-3-pharagrap1 {
    font-size: 16px;
    color: #2D2D2D;
    line-height: 150%;
    text-align: center;
    margin-top: 20px;
    font-family: 'Mulish';
}

.section-3-learnMore-box {
    max-width: 1170px;
    min-height: 384px;
    width: 100%;
    margin-top: 60px;
    display: flex;
}

.section-3-learnMore {
    max-width: 370px;
    min-height: 384px;
    width: 100%;
    margin: auto;
    align-items: center;
    display: flex;
    background-color: #e6dada;
    column-gap: 30px;
    border-radius: 6px;

}

.section-3-learnMore-son-box {
    max-width: 310px;
    min-height: 304px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-3-icon-box {
    max-width: 82px;
    min-height: 82px;
    background-color: #ffa399;
    display: grid;
    place-items: center;
    border-radius: 20px;
    margin: auto;
    width: 100%;
    box-shadow: 1px 1px 30px #ffa399;
}

.section-3-icon2 {
    background-color: #73e7d2;
    box-shadow: 1px 1px 30px #73e7d2;

}

.section-3-icon3 {
    background-color: #e7e1d0;
    box-shadow: 1px 1px 30px #e7e1d0;
}

.setion-3-icon-box-son {
    object-fit: cover;
}

.section-1-h3-box {
    max-width: 310px;
    font-size: 28px;
    letter-spacing: -1%;
    line-height: 130%;
    text-align: center;
    color: #2D2D2D;
    font-family: 'Poppins';
    margin-top: 30px;
    width: 100%;
}

.section-3-pharagrap2 {
    font-size: 16px;
    line-height: 150%;
    max-width: 310px;
    text-align: center;
    font-family: 'Mulish';
    margin-top: 24px;
    color: #2D2D2D;
    width: 100%;
}

.section-3-button {
    max-width: 118px;
    min-height: 30px;
    color: #009379;
    width: 100%;
    border-radius: 6px;
    border: none;
    transition: all;
    transition-duration: 0.4s;
    margin-top: 30px;
    font-family: 'Poppins';
}

.section-3-button:hover {
    background-color: #ffa399;
    box-shadow: 5px 5px 30px #009379;
}

.section-3-button2:hover {
    background-color: #73e7d2;
}

.section-3-button3:hover {
    background-color: #e7e1d0;
}

/* ! section-4 */
.section-4-main-box {
    max-width: 1280px;
    min-height: 561px;
    width: 100%;
    background-color: #FF6250;
    margin: auto;
    display: grid;
    place-items: center;
}
.section-4-mother-box {
    max-width: 1170px;
    min-height: 321px;
    background-color: #440d03;
    width: 100%;
    display: flex;
   flex-direction: column;
   align-items: center;
}
.section-4-h3 {
    font-size: 38px;
    line-height: 130%;
    letter-spacing: -2px;
    color: #000000;
    /* margin: auto; */
    text-align: center;
    max-width: 467px;
    width: 100%;
    font-family: 'Poppins';
    background-color: #80ffe8;
}
.section-4-pharagrap1 {
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    margin-top: 20px;
    color: #2D2D2D;
    font-family: 'Mulish';
    background-color: #009379;
    width: 100%;
}
.section-4-about-box {
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(4,270px);
    grid-template-rows: 171px;
    column-gap: 30px;
    width: 100%;
    margin-top: 60px;
    background-color: rgb(237, 100, 157);
}
.section-4-statistic-box {
    background-color: blue;
    width: 100%;
    max-width: 270px;
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    min-height: 83px;
}
.section-4-pharagrap2 {
    font-size:38px;
    line-height: 130%;
    text-align: center;
    color: #2D2D2D;
    background-color: #009379;
    max-width:238px;
   
}
.section-4-pharagrap3 {
    font-size: 16px;
    color: #2D2D2D;
    letter-spacing: 130%;
    max-width: 238px;
    min-height: 36px;
    background-color: #ffa399;
    text-align: center;
}